img{
    width:28%;
    margin:20px;
    padding:3px;
    border: 2px solid rgba(93, 83, 83, 0.274);
    border-radius: 5px;
;

}
img:hover{
    transition: 2s ease-in;
    transform: scale(1.3);
    

}
nav{
    font-family: monospace;
    text-align: center;
    font-style: italic;
}

h1{  font-family: monospace;
    text-align: center;
    border-bottom: 5px solid rgb(177, 177, 177);
    
    padding:5px;
    
}

h1:hover{
    background-color: rgb(250, 241, 228);
    transition: 5s;
}